
<div class="row">
    <div class="card col-md-4 offset-md-4 offset-md-3">
        <div style="padding-right: 200px;">
            <p style="align-content: center;">Success</p>
            <label for="street">ShipId: </label>{{shipmentResponse.shipId}}
            <br>
            <br>
            <label for="street">Tracking#: </label>{{shipmentResponse.trackingNumbers[0]}}
            <br>
            <br>
            <a href="download/carrierTrackingUrl.pdf" download="shipmentResponse.carrierTrackingUrl">Download pdf file</a>
        </div>
    </div>

</div>